.navLink {
  display: inline;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}
header * {
  display: inline;
}
header img {
  height: 80px;
  margin-left: 40px;
}
header li {
  margin: 20px;
}
body {
  height: 125vh;
  font-family: sans-serif;
}
#root {
  margin-top: 80px;
  padding: 30px;
}
.container {
  display: flex;

}
.paddock-container {
  flex-direction: row;
}

.dinosaur-container {
  flex-direction: column;
}

.component {
  border: 1px solid black;
}

.paddock {
  flex-direction: row;
}

li {
  list-style: none;
}
