.navLink {
  display: inline;
}
header {
  background-color: #f7f7ed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
header * {
  display: inline;
}
header img {
  height: 80px;
  margin-left: 40px;
}
header li {
  margin: 20px;
}
body {
  height: 125vh;
  font-family: sans-serif;
  background-image: url("../images/jurassic_park_jungle_island.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#root {
  margin-top: 80px;
  padding: 30px;
  display: flex;
}

.main-container {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;

}

.component {
  border: 1px solid black;
  margin: auto;
  padding: 20px;
  background-color: #f7f7ed;
  border-radius: 20px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

.dinosaur-container {
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.paddock-container {
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.form {
    margin: auto;
    background-color: #f7f7ed;
    border-radius: 20px;
    padding: 20px;
    padding-top:0px;
    margin-top: 200px;
}

.container-list {
  display: flex;
  justify-content: space-between;
}
