.navLink {
  display: inline;
}
header {
  background-color: #d1c4b4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
header * {
  display: inline;
}
header img {
  height: 80px;
  margin-left: 40px;
}
header li {
  margin: 20px;
}
body {
  height: 100%;
  font-family: sans-serif;
  background-image: url("../images/jurassic_park_jungle_island.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#root {
  margin-top: 80px;
  padding: 30px;
  display: flex;
}

.main-container {
  display: flex;
  width: 96%;
  position: fixed;
  justify-content: space-between;
  margin-top: 50px;
}

.component {
  border: 1px solid black;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  padding-top: 0px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header a:hover{
  color:  #d1c4b4;
  background-color: Black;
  border-radius: 8px;
  PADDING: 10px;
}

.buttons {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

.dinosaur-container {
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 10px 0 0 0;
  background-color: #d1c4b4;
  height: fit-content;
  width: fit-content;
}

.paddock-container {
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: #d1c4b4;
  height: fit-content;
  width: fit-content;
}

.form {
    margin: auto;
    background-color: #d1c4b4;
    border-radius: 20px;
    padding: 20px;
    padding-top:0px;
    margin-top: 200px;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#chart_div {
  padding-top: 20px;
}

#element {
  background-color: white;
}

#stats, #dinosaur-details, #dashboard-container, #paddock-details {
  background-color: #d1c4b4;
}

#stats {
  min-width: 160px;
  height: fit-content;
}

button:hover {
  background-color: black;
  color:  #d1c4b4;
  border-radius: 4px;
}
